{% extends 'default/default.twig' %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">

                <div class="border-bottom border-success p-3 bg-white">
                    {% if interface is defined %}
                        {% include ('posts/_interface_' ~ interface ~ '.twig') %}
                    {% endif %}
                </div>

                <div class="p-4 bg-white post-content">
                    {{ post.content | markdown }}
                </div>
                            
            </div>
        </div>
    </section>

{% endblock %}
