{% extends 'default/default.twig' %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <h2 class="h3">Vos offres : </h2>
                <a href="../profile"><i class="fas fa-arrow-left mr-3"></i>Retour au profil</a>
                {% include('pagination/_pagination.twig') %}
                
                {% if postsList is empty %}
                    <p class="text-muted text-center">Pas d'offres à afficher ici !</p>
                {% else %}
                    <div class="list-group mt-3 mb-3">
                        {% for post in postsList %}
                            {% include('posts/_postslist_item_' ~ session.role ~ '.twig') %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% include('pagination/_pagination.twig') %}
            </div>
        </div>
    </section>

{% endblock %}
