#top-page{
    min-height: 80vh;
}

#navbarsConnect{
    right: 0;
    top: 48px;
    width: 200px;
}

#navbarsConnect a{
    border-radius: 0;
}

/* Penser a :
    Modifier la hauteur de ces éléments pour ne pas qu'ils cachent le footer
    */
.post-view{
    display: none;
}

.post-view .post-content{
    height: 60vh;
    overflow-y: scroll;
}

#post-container{
    position: fixed;
}