/* GLOBAL - Debut ------------------------------------------------------------------------------------------------------------*/

#page-content{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#top-page{
    flex: 1 0 100%;
}

footer{
    bottom: 0;
}

.thumbnail{
   max-height: 50px;
}

.cursor{
    cursor: pointer;
}

.active .sublink{
    color: white;
}

.active .sublink:hover{
    text-decoration: underline;
}

/* GLOBAL - Fin ------------------------------------------------------------------------------------------------------------*/

/* PROFIL - Debut ------------------------------------------------------------------------------------------------------------*/

#profile_pict{
    width: 100%;
}

#profile-pic-mask{
   width: 100%;
   height: 100%;
   text-align: right;
   top: 0;
   left :0;
   font-size: 150%;
}

#profile-pic-mask:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

#profile-pic-mask a{
   width: 100%;
   height: 100%;
   text-align: right;
   display: inline-block;
}

#id_card h2{
    font-size: 1.7rem;
    margin-bottom: 15px;
}

#id_card p{
    margin-bottom: 10px;
}

/* PROFIL - Fin ------------------------------------------------------------------------------------------------------------*/

/* NAVBAR - Debut ------------------------------------------------------------------------------------------------------------*/
#navbarsConnect{
    right: 0;
    top: 48px;
    width: 200px;
}

#navbarsConnect a{
    border-radius: 0;
}
/* NAVBAR - fin ------------------------------------------------------------------------------------------------------------*/

/* POSTS - Debut ------------------------------------------------------------------------------------------------------------*/

.post-view{
    display: none;
}

.post-view .post-content{
    height: 60vh;
    overflow-y: scroll;
}

#post-container{
    position: fixed;
}
/* POSTS - Fin ------------------------------------------------------------------------------------------------------------*/

/* FORMULAIRES - Debut --------------------------------------------------------------------------------------*/

.invalid-input{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/* FORMULAIRES - Fin --------------------------------------------------------------------------------------*/

/* FORMULAIRE DE CONNECTION - Debut --------------------------------------------------------------------------------------*/
#connectincorrect{
    height: 25px;
    color: red;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/* FORMULAIRE DE CONNECTION - Fin --------------------------------------------------------------------------------------*/

/* SUGGESTION DE SAISIE - Debut --------------------------------------------------------------------------------------*/

.suggest {
    cursor: pointer;
    z-index: 99;
    padding: 0;
}

.suggest p{
    margin: .75rem 1.25rem;
}

.suggest:hover{
    background-color: #0069d9;
    color: white;
}

/* SUGGESTION DE SAISIE - Fin --------------------------------------------------------------------------------------*/

