<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar" style="">
            <a class="navbar-brand" href="/">Yann's Jobs</a>
            <ul class="navbar-nav ml-auto" id="member">
                {% if session.auth is defined and session.username is defined and session.role is defined %}
                    <li class="nav-item active position-relative">
                        <a href="#" class="collapsed nav-link" data-toggle="collapse" data-target="#navbarsConnect" aria-controls="navbarsConnect" aria-expanded="false" aria-label="Toggle navigation">
                            {{ session.username }}
                        </a>
                        <div class="collapse position-absolute list-group" id="navbarsConnect" style="">
                            <a class="list-group-item list-group-item-action" href="/{{ session.role }}/profile"><i class="fas fa-user-alt text-black mr-3"></i> Profil</a>
                            <a class="list-group-item list-group-item-action" href="/{{ session.role }}/postslist/index-1"><i class="fas fa-folder-open text-black mr-3"></i> Mes offres</a>
                            <a class="list-group-item list-group-item-action" href="/deconnection"><i class="fas fa-power-off text-black mr-3"></i> Se deconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active position-relative">
                        <a href="/candidate" class="collapsed nav-link" >
                            Se connecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>