<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="#" sizes="32x32">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="/assets/style.css">

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div id="page-content">
            
            <header class="site-header sticky-top">
                {% include('default/_navbar.twig') %}
            </header>

            <div id="top-page" class="bg-light">
                <div id="errors" class="container pt-5">
                    <div class="row">
                        {% if (errors) %}
                            <div class="col-12 bg-light p-3 m-3 text-danger border rounded border-danger">
                                {% for error in errors %}
                                    <p class="m-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% block content %} {% endblock %}
            </div>

            <footer class="bg-dark text-light">
                <div class="container p-4">
                    <p class="float-right m-0"><a href="#top-page" class="text-light">Haut de page</a></p>
                    <p class="m-0 text-secondary"> 2019 - Yaaann · <a href="https://www.yaaann.ovh" class="text-light">Mes autres projets</a> · <a href="https://openclassrooms.com/fr/" class="text-light">OpenClassrooms</a></p>
                </div>
            </footer>

        </div>
            
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="/js/main.js?version=1"
                type="application/javascript"></script>

    </body>
</html>