<div class="mb-3">
    <label for="passControl">Mot de passe actuel</label>
    <input type="password" class="form-control {% if errors.ident is defined %} border-danger  {% endif %}" id="passControl" name="passControl" required>
</div>     
