{% extends 'default/default.twig' %}

{% block content %}

    <div class="container p-5">
        <h2>Erreur 403 - Accès non autorisé</h2>
        <p>Vous ne diposez pas des autorisations nécessaires pour accéder à cette page.<br>
             Vous pouvez contacter l'administrateur du site si vous pensez qu'il s'agit d'un bug.</p>
    </div>

{% endblock %}

