<?xml version="1.0" encoding="utf-8" ?>
<routes>    
    <route url="/" module="posts" action="index" ></route>
    <route url="/index-([0-9]+)" module="posts" action="index" vars="index"></route>

    <route url="/deconnection" module="connexion" action="disconnect" ></route>
    
    <route url="/recruiter/home" module="recruiters" action="home"></route>
    <route url="/recruiter/edit-profile" module="recruiters" action="edit"></route>
    <route url="/recruiter/edit-password" module="recruiters" action="password"></route>
    <route url="/recruiter/publication" module="posts" action="publication"></route>
    <route url="/recruiter/candidacies-([0-9]+)" module="candidacies" action="list" vars="page"></route>
    <route url="/recruiter/postslist-([0-9]+)" module="posts" action="list" vars="page"></route>
    <route url="/recruiter/post-([0-9]+)" module="posts" action="show" vars="post"></route>
    
</routes>