{% extends 'default/default.twig' %}

{% block content %}
    <div class="container">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 class="h3 mb-3">Inscription</h1>
            <form method="post" id="member-add" action="" class="form-validation mb-5">
                {% include 'forms/_lastname_firstname.twig' %}

                {% include 'forms/_username.twig' %}

                {% include 'forms/_email.twig' %}
                
                {% include 'forms/_phone.twig' %}
                
                {% include 'forms/_pass.twig' %}

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input form-control" id="agree" name="agree" value="agree" required>
                    <label class="custom-control-label" for="agree">J'ai pris connaissance des <a href="#" target="_blank">conditions d'utilisation</a> et les accepte sans réserves.</label>
                </div>
                <input type="submit" class="btn btn-primary btn-lg mb-5" type="submit" name="submit" value="S'inscrire">
            </form>
        </div>
    </div>

{% endblock %}